<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.hxq.hotelwork.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.hxq.hotelwork.core.Perspective"
            id="hotelwork.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.hxq.hotelwork.views.admin"
            id="com.hxq.hotelwork.views.admin"
            name="认真，谋略，精密，远创！">
      </view>
      <view
            class="com.hxq.hotelwork.views.CustomerView"
            id="com.hxq.hotelwork.views.CustomerView"
            name="快乐有你，有你快乐">
      </view>
      <view
            class="com.hxq.hotelwork.views.workerView"
            id="com.hxq.hotelwork.views.workerView"
            name="做一名积极向上的员工~">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hxq.hotelwork.editors.zhusuEditor"
            id="com.hxq.hotelwork.editors.zhusuEditor"
            name="住宿管理">
      </editor>
      <editor
            class="com.hxq.hotelwork.editors.shoppingEditor"
            id="com.hxq.hotelwork.editors.shoppingEditor"
            name="消费管理">
      </editor>
      <editor
            class="com.hxq.hotelwork.editors.shopView"
            id="com.hxq.hotelwork.editors.shopView"
            name="Welcome~">
      </editor>
      <editor
            class="com.hxq.hotelwork.editors.customershopEditor"
            id="com.hxq.hotelwork.editors.customershopEditor"
            name="Welcome to shop">
      </editor>
      <editor
            class="com.hxq.hotelwork.editors.roomsinfo"
            id="com.hxq.hotelwork.editors.roomsinfo"
            name="--客房状态--">
      </editor>
      <editor
            class="com.hxq.hotelwork.editors.leavingEditor"
            id="com.hxq.hotelwork.editors.leavingEditor"
            name="退房打扫">
      </editor>
      <editor
            class="com.hxq.hotelwork.editors.dueEditor"
            id="com.hxq.hotelwork.editors.dueEditor"
            name="交易金额">
      </editor>
      <editor
            class="com.hxq.hotelwork.editors.worker"
            id="com.hxq.hotelwork.editors.worker"
            name="员工结构">
      </editor>
      <editor
            class="com.hxq.hotelwork.editors.addgoods"
            id="com.hxq.hotelwork.editors.addgoods"
            name="商品进货">
      </editor>
      <editor
            class="com.hxq.hotelwork.editors.monthEditor"
            id="com.hxq.hotelwork.editors.monthEditor"
            name="消费记录">
      </editor>
      <editor
            class="com.hxq.hotelwork.editors.teltphone"
            id="com.hxq.hotelwork.editors.teltphone"
            name="前台电话">
      </editor>
      <editor
            class="com.hxq.hotelwork.editors.summoney"
            id="com.hxq.hotelwork.editors.summoney"
            name="季度统计">
      </editor>
      <editor
            class="com.hxq.hotelwork.editors.summoney"
            id="com.hxq.hotelwork.editors.summoney"
            name="季度统计">
      </editor>
      <editor
            class="com.hxq.hotelwork.editors.yearmoney"
            id="com.hxq.hotelwork.editors.yearmoney"
            name="年客房销售总额">
      </editor>
      <editor
            class="com.hxq.hotelwork.editors.customerEditor"
            id="com.hxq.hotelwork.editors.customerEditor"
            name="住宿人员">
      </editor>
      <editor
            class="com.hxq.hotelwork.editors.history"
            id="com.hxq.hotelwork.editors.history"
            name="历史纪录">
      </editor>
   </extension>

</plugin>
